{
    "port": <%= ENV['OPENSHIFT_SOCIAL_COUNT_PORT'] %>,
    "cache_time": 14400,
    "default_providers": [
        "facebook", 
        "twitter", 
        "google", 
        "linkedin", 
        "pinterest"
    ],
    "concurrent_requests": true,
    "google_analytics": {
        "web_property": "UA-22039203-11",
        "data_source": "api"
    }
}