Name: social-count
Cartridge-Short-Name: SOCIAL_COUNT
Cartridge-Version: <%= ENV['APP_VERSION'] %>
Cartridge-Vendor: abemedia
Website: http://donreach.com
Display-Name: Social Share Count API
Description: A social share count API written in Go.
Version: '<%= ENV['APP_VERSION'] %>'
Versions:
- '<%= ENV['APP_VERSION'] %>'
Website: https://bitbucket.org/abemedia/social-count-cart
License: GNU GPL 2.0
License-Url: http://abemedia.co.uk/license
Vendor: ABE Media
Categories:
- web_framework
Help-Topics:
  Developer Center: https://www.openshift.com/developers
Provides:
- social-count-<%= ENV['APP_VERSION'] %>
- social-count
Scaling:
  Min: 1
  Max: -1
Group-Overrides:
- components:
  - social-count-<%= ENV['APP_VERSION'] %>
  - web_proxy
Publishes:
  publish-gear-endpoint:
    Type: "NET_TCP:gear-endpoint-info"
  publish-http-url:
    Type: "NET_TCP:httpd-proxy-info"
Subscribes:
  set-env:
    Type: "ENV:*"
    Required: false
Endpoints:
- Private-IP-Name: IP
  Private-Port-Name: PORT
  Private-Port: 19000
  Public-Port-Name: PROXY_PORT
  Mappings:
  - Frontend: ''
    Backend: ''
    Options:
      websocket: true
  - Frontend: /health
    Backend: ''
    Options:
      health: true